*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
}


.wrapper{
    display: flex;
    position: fixed;
    max-width: 1920;
    /* visibility: hidden; */
}
.wrapper.active{
    visibility: hidden;
}

.image img{
    width: 115vh;
    height: 100vh;
}
.menu{
    width: 470px;
    height: 100vh;
    background: rgba(10, 14, 10, 0.9) ;
}

.links ul{
    display: flex;
    margin-left: 125px;
    margin-top: 30px;
    


}
.links ul li{
    padding: 15px;
    list-style: none;
    color: rgb(240, 105, 32);
    font-weight: 600;
    font-size: 13px;
}
.links ul li:hover{
    background: rgb(240, 105, 32);
    border-radius: 5px;
    color: rgba(10, 14, 10, 0.9);
    cursor: pointer;

}
.menu .text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -webkit-text-stroke: 1px;
    font-size: 58px;
    font-weight: 700;
    margin: 100px 0 0 5px;
    color: rgb(240, 105, 32);

}
.menu .text-info{
    color:rgb(164, 163, 163);
    margin-left: 5px;
    line-height: 25px;
}
.menu .order{
    margin: 80px 0 0 130px;    
}

.menu .order button{
    background: rgb(240, 105, 32);
    border: none;
    width: 200px;
    font-weight: 600;
    font-size: 15px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}
.menu .order button:hover{
    background: rgb(241, 92, 12);
}
.display{
    margin-right: 0;
    width: 200px;
    height: 50vh;
}
.display img{
    width: 130px;
    height: 131px;
    margin: -2px;
}
.order-menu{
    position: absolute;
    display: flex;
    top: 0;
    margin-top: -30px;
    left: 550px;
    visibility: hidden;
}

.order-menu.active{
    visibility: visible;
}

.menu-pan .title{
   margin-top: 60px;
   font-size: 30px;
   letter-spacing: 2px;
   
}

.section-center{   
    display: grid;    
    grid-template-columns: 6fr 1fr;
    margin-left: -60px;
}
.section-center .head{
    border-bottom: 2px solid;
    padding-bottom: 3px;
    border-color: grey;
    display: flex;
    justify-content: space-between;
}
.menu-pan h2{
    font-weight: 800;
}
.menu-pan .underline{
    border-top: 3px solid;
    margin-left: 40px;
    width: 160px;
    color: rgb(240, 105, 32);
}
.menu-item img{
    margin-top: 40px;
    width: 150px;
    height: 80px;
    border: 3px ridge;
    border-radius: 5px;
    border-color: rgb(240, 105, 32);
} 
.menu-item img:hover{
    cursor: pointer;
    width: 300px;
    height: 150px;
    /* position: fixed; */
}

.filter-btn:hover{
    background: rgb(240, 105, 32);
    color: #fff;
}


.filter-btn{
    width: 70px;
    height: 22px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(240, 105, 32);
    margin-left: 20px;

}

.filter-btn:hover.active-button{
    background: rgb(122, 32, 240);
    color: #fff;
}
.btn-container{
    margin-top: 10px;
    margin-left: -80px;
}
.menu-item {
    display: flex;
    /* position: relative; */
    width: 450px;
    margin-left: -350px;
}
.menu-item .item-info{
    margin-left: 20px;
    margin-top: 40px;
}
.menu-item .item-text{
    margin-top: 10px;
    font-size: 13px;
    color: grey;
}
.item-info .head h4:first-child{
    text-transform: capitalize;
    font-weight: 700;
}
.item-info .head h4:last-child{
    color: rgb(240, 105, 32);
    font-weight: 700;
}
.menu-item .item-info h4{
    letter-spacing: 2px;
}
